.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  border: 2px solid black;
  width: 400px;
  height: 400px;
}

.white {
  background-color:white;
}

.black {
  background-color:rgb(230, 194, 150);
}

.piece {
  font-size: 35px;
}

